.links a{

	text-decoration: none;
}
body {
margin:0;
background-color: #D49D9A;
	font-family: Arial;
}
nav {
margin: 0;
	text-align: center;
}
ul {
display: inline ;
list-style-type: none;
padding: 20px;
margin: 0;
text-align: center;
}
li {
display: inline ;
font-size: 1.5em;


line-height: 55px;
}
li a {
display: inline ;
text-decoration: none;
color: purple;
padding: 20px 40px;
}
li a:hover {
display: inline ;
text-decoration: none;
background-color: purple;
color: white;
}


.portfolio-item {
	margin-bottom: 25px;
}
.portfolio-item:hover {
	margin-bottom: 25px;
text-decoration: none;
background-color: purple;
color: white;
}
.page-header:hover {
	margin-bottom: 25px;
text-decoration: none;
background-color: purple;
color: white;
}

.page-header a:hover {
	margin-bottom: 25px;
text-decoration: none;
background-color: purple;
color: white;
}

footer {
	margin: 50px 0;
}
.container {
text-align:center;
}
 

.bg-image {
	background-image : url("images/site/Banner.png");
width: 100vw;
height: 100vh;
object-fit: cover;
filter: brightness (0.6);
position: absolute;
top: 0;
left: 0;
z-index: -1;
}
